<section id="footer">
	<div class="inner clearfix">
		<div class="copyright float-left">
			&copy; CITDevelopment 2020
		</div>
		<div class="float-right">
			<ul class="icons">
				<li>
					<a href="mailto:toporascu.cristian@gmail.com" class="icon"><i class="fas fa-envelope-square fa-2x"></i></a>
				</li>
				<li>
					<a href="https://github.com/toporasc" class="icon"><i class="fab fa-github-square fa-2x"></i></a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/cristian-ionut" class="icon"><i class="fab fa-linkedin fa-2x"></i></a>
				</li>
			</ul>
		</div>
	</div>
</section>